body {
  background-color: rgb(242, 243, 250);
}

#root {
  display: flex;

  max-width: 1800px;
  width: 80%;

  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px 0;

  margin: 100px auto 0;
}

.chart-Container {
  flex-basis: 100%;
  box-shadow: 6px 6px 4px rgba(122, 118, 118, 0.521);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.2s;
  cursor: move;
}

.chart-Container:hover {
  transform: scale(1.08);
  background-color: rgb(255, 255, 255);
}

.chart-Container canvas {
  margin: 0 auto;
  cursor: pointer;
}

@media all and (min-width: 768px) {
  #root {
    gap: 60px 0;
  }

  .chart-Container {
    flex-basis: 48%;
  }
}

@media all and (min-width: 1024px) {
  #root {
    gap: 80px 0;
  }

  .chart-Container {
    flex-basis: 30%;
  }

  #barchart,
  #scatterchart {
    padding-top: 10px;
  }
}
